@media (max-width: 1250px) {
    body {
        padding: 0 5%;
    }

    #header {
        grid-template-columns: 45% 45%;
        padding: 0 5%;
    }

    #portfolio {
        margin-bottom: 200px;
    }
}


/*======================================*/


@media (max-width: 917px) {
    #apresentation {
        grid-template-columns: 100%;
        margin-bottom: 0;
    }

    #apresentation-text a{
        display: flex;
        justify-content: center;
    }

    #apresentation-image {
        padding: 5% 5% 0 5%;
    }
}


/*======================================*/


@media (max-width: 703px) {
    #header {
        grid-template-columns: 50%;
    }

    #header #nav ul { 
        justify-content: space-evenly;
        width: 180%;
    }

    #clients {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
        text-align: center;
        row-gap: 70px;
    }

    #clients .clients-logo {
        width: 100%;
        height: 100%;
    }

    #clients .clients-logo img {
        height: 80%;
    }

    #services-top {
        text-align: center;
        padding-top: 0px;
    }

    #services-itens {
        grid-template-columns: none; 
        grid-template-rows: repeat(3, 1fr); 
        row-gap: 70px;
    }

    #services-itens .services-item{
        flex-direction: row;
    }

    #services-itens .services-item .services-item-text p{
        width: 65%;
    }

    #services-itens .services-item img{
        width: 15%;
        margin-left: 13%;
        margin-bottom: 0;
    }

    #services-contact {
        grid-template-columns: none;
        grid-template-rows: 50% auto;
    }

    #contact-form {
        margin-left: 0;
        text-align: center;
    }

    #contact-form p, #contact-form h2{
        width: 100%;
        max-width: none;
    }

    #contact-form form {
        align-items: center;
    }

    #portfolio {
        padding: 70px 0 20px 0;
    }

    #portfolio-top{
        text-align: center;
    }

    #portfolio-itens {
        grid-template-columns: none;
        grid-template-rows: auto;
        row-gap: 100px;
        padding: 3%;
    }

    #portfolio-itens .portfolio-item { 
        justify-content: center;
    }

    #portfolio-itens .portfolio-item:nth-child(3) {
        justify-content: center;
    }
    
}